/* Importar fuente */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    background-color: #f0f0f0;
    color: #333;
    background-image: url('../IMG/fondo.avif');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Estilos de la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #34495e;
    border-radius: 5px;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #ecf0f1;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #2c3e50;
        position: absolute;
        top: 60px;
        right: 10px;
        width: 150px;
        border-radius: 5px;
    }

    .menu.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}

/* Estilos para cada sección */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

.presentacion, .info-personal {
    min-height: 100vh;
}

.presentacion {
    background-color: rgba(44, 62, 80, 0.8);
    background-image: url('../IMG/background.jpg');
    background-size: cover;
    background-position: center;
    color: #ecf0f1;
    padding: 20px 20px;
    text-align: center;
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    margin-top: 70px; /* Add margin to account for the navbar height */
}

@media (max-width: 768px) {
    .presentacion {
        padding: 10px 10px; /* Adjust padding for mobile */
        height: auto; /* Adjust height for mobile */
        flex-direction: column; /* Stack elements vertically */
        margin-top: 70px; /* Ensure nothing is below the navbar */
    }

    .presentacion img {
        width: 100px; /* Further reduced image size for mobile */
        margin-bottom: 10px; /* Add margin for spacing */
    }

    .intro-text {
        font-size: 1em; /* Further reduced font size for mobile */
        text-align: center; /* Center text for mobile */
    }

    .languages-icons {
        font-size: 2em; /* Further adjust icon size for mobile */
        justify-content: center; /* Center icons for mobile */
    }

    .col-md-4, .col-md-8 {
        width: 100%; /* Full width for columns */
        text-align: center; /* Center text for columns */
    }

    .col-md-8 {
        order: -1; /* Move intro-text to the top */
    }

    .btn-cv {
        padding: 10px 20px; /* Adjust button padding for mobile */
        font-size: 0.8em; /* Adjust button font size for mobile */
    }

    h3 {
        font-size: 1.2em; /* Adjust heading size for mobile */
    }
}

.presentacion-content {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-content {
    color: #ecf0f1;
    padding: 10px 20px;
    border-radius: 10px;
    background: transparent;
    font-size: 2em;
}

.intro-text {
    font-family: 'Arial', sans-serif; /* New font family */
}

.intro-greeting {
    font-size: 2.5em;
    font-weight: 700;
}

.intro-name {
    font-size: 1.5em;
    font-weight: 400;
}

.languages {
    margin-top: 20px;
    color: #ecf0f1;
    font-size: 1.5em;
    text-align: center;
}

.languages-icons {
    margin-top: 20px;
    font-size: 5em; /* Increased icon size */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
}

.languages-icons i {
    color: #ecf0f1;
    flex: 0 0 auto; /* Prevent icons from shrinking */
}

.presentacion img {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 300px;
}

.presentacion h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.presentacion p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn-cv {
    background-color: #3498db;
    color: #ecf0f1;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-cv:hover {
    background-color: #2980b9;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; /* Increase spacing between icons */
    margin-top: 20px;
}

.social-link {
    font-size: 4em; /* Increase icon size */
    color: #ecf0f1;
    transition: color 0.3s;
    text-decoration: none;
}

.social-link:hover {
    color: #3498db; /* Change color on hover */
}

.info-personal {
    background-color: #bdc3c7;
    padding: 40px; /* Maintain padding for spacing */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px; /* Limit the width to fit the content */
    margin: 20px auto; /* Center the section horizontally */
    text-align: center;
}

.info-personal h2 {
    margin-bottom: 30px; /* Add spacing below the heading */
}

.info-content {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
    gap: 30px; /* Add spacing between grid items */
    text-align: center; /* Center-align text for better readability */
    padding: 20px; /* Add padding for better spacing */
    position: relative; /* Enable positioning for child elements */
}

.info-content p {
    font-size: 1.2em;
    line-height: 1.6;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.info-content p:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.info-content p::before {
    content: "ℹ"; /* Default symbol */
    font-size: 2em;
    color: #ecf0f1;
    background-color: #415563;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    opacity: 1;
    transition: opacity 0.3s;
}

.info-content p:hover::before {
    opacity: 0;
}

/* First <p> - Web and Mobile */
.info-content p:nth-child(1)::before {
    content: "🌐"; /* Globe symbol for web and mobile */
}

/* Second <p> - Projects */
.info-content p:nth-child(2)::before {
    content: "📁"; /* Folder symbol for projects */
}

/* Third <p> - Objective */
.info-content p:nth-child(3)::before {
    content: "🎯"; /* Target symbol for objective */
}

.certificados, .proyectos, .contacto {
    background-color: #ecf0f1;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
    width: 100%;
}

.certificados {
    background-color: #95a5a6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
    width: 100%;
}

.certificates-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.proyectos {
    background-color: #bdc3c7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.project-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.project-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2c3e50;
}

.project-description {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
}

.project-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.project-link:hover {
    background-color: #2980b9;
}

.project-link i {
    margin-right: 5px;
}

.contacto {
    background-color: #95a5a6;
}

.contacto form {
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
}

.contacto form div {
    margin-bottom: 15px;
}

.contacto form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #2c3e50;
}

.contacto form input,
.contacto form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

.contacto form input:focus,
.contacto form textarea:focus {
    border-color: #3498db;
    outline: none;
}

.contacto .btn-contacto {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contacto .btn-contacto:hover {
    background-color: #2980b9;
}

/* Estilos para el carrusel de certificados */
#certificatesCarousel {
    width: 80%;
    margin: 20px 0;
}

.carousel-item img {
    width: 100%;
    max-height: 1500px;
    object-fit: contain;
    margin: auto;
    display: block;
}

/* Botón para volver arriba */
#btnScrollTop {
    position: fixed;
    bottom: 20px; /* Adjusted to be above the footer */
    right: 20px;
    background-color: #000000;
    color: #ecf0f1;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s;
    font-size: 24px; /* Make the arrow thicker */
    z-index: 1001; /* Ensure it is above the footer */
}

#btnScrollTop:hover {
    background-color: #34495e;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: #ecf0f1;
    position: relative;
    width: 100%;
}

.skills-section {
    margin-top: 30px;
    text-align: center;
}

.skills-section h3 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #2c3e50;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Ensure consistent size */
    gap: 20px;
    justify-items: center;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px; /* Set a fixed width for all skill items */
    height: 200px; /* Set a fixed height for all skill items */
    justify-content: space-between; /* Space out content vertically */
}

.skill-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.skill-item i {
    font-size: 2.5em;
    color: #3498db;
    margin-bottom: 10px;
}

.skill-item span {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.skill-bar {
    width: 80%; /* Adjust width to fit within the fixed size */
    height: 10px;
    border-radius: 5px;
    background-color: #ddd;
    position: relative;
    margin-bottom: 10px;
}

.skill-bar.basico::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 33%;
    background-color: #e74c3c;
    border-radius: 5px;
}

.skill-bar.intermedio::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 66%;
    background-color: #f1c40f;
    border-radius: 5px;
}

.skill-bar-label {
    font-size: 0.9em;
    color: #555;
    text-align: center;
}

.skill-bar-label span {
    margin: 0 5px;
    font-weight: bold;
}